[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
torchsummary = "*"
av = "*"
torchmetrics = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
matplotlib = "*"
sklearn = "*"
ipykernel = "*"
jupyter = "*"
notebook = "*"
torcheval = "*"

[dev-packages]

[requires]
python_version = "3.10"
